.random-planet {
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    background-color: #444;
}

.planet-img{
    width: 200px;
    height: 200px;
    margin-right: 1rem;
    border-radius: 10px;
}

.list {
    margin-left: 1rem;
    background-color: #444;
}

.list-group-item {
    background-color: inherit;
    border: 1px solid #919191;
}

