

.switch-btn {
    background-color: rgb(55, 151, 215);
    height: 100%;
    width: 150px;
    
    font-weight: bold;
    border: 1px solid blue;
    border-radius: 5px;
}

.green {
    color: green;
    font-weight: bold;
}